body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #b6b6c5;
}

.calculator {
  background-color: #1f1d1d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.screen {
  width: 100%;
  height: 50px;
  text-align:right;
  font-size: 2rem;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0efef;
  border: none;
  border-radius: 5px;
  position: relative;
  right: 0.2em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.5rem;
  background-color: #089286;
  color: rgb(235, 231, 231);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #09baba;
}

button:active {
  background-color: #388e3c;
}

button.clear {
  background-color: #f44336;
}

button.clear:hover {
  background-color: #e53935;
}

button.equals {
  background-color: #2196F3;
}

button.equals:hover {
  background-color: #1976D2;
}
